# WeatherPy

Intent: Evaluate various weather data points across the world. Attempt to identify correlation between tempertaure, humidity, cloudiness and windspeed across various longitudes and latitudes

In [59]:
#import dependencies

import pandas as pd
import matplotlib as plt
import citipy as citi
import requests
import json
import gmaps
import random
#from config import OWkey

## Find 500 random cities across the globe

In [48]:
# import citipy module which allows you to search nearest city using lat/long
from citipy import citipy


# set up initial values and lists
lat = 22 
long = 45
city_name = []
country_code = []

# Create loop to grab city, country and lat long for 500 cities

for n in range(1200):
    city = citipy.nearest_city(lat,long)
    country = city.country_code
    city = city.city_name
    
    
    if city not in city_name:
    
        city_name.append(city)
        country_code.append(country)
    
    
    # get random lat and random long (dependcy "import random")
    lat = random.randrange(-90,90,1)
    long = random.randrange(-180,180,1)
    
len(city_name)

519

In [49]:
# create DataFrame containing city, country, original lat/long entry

data= {'city': city_name,
       'country': country_code       }

cityDF= pd.DataFrame(data)
cityDF.head()

              city country
0           riyadh      sa
1           hobart      au
2           mocuba      mz
3  haines junction      ca
4     beringovskiy      ru

## API calls to OpenWeatherMap

In [71]:
# use weather data from OpenWeatherMap API
APIKEY = 'afa48868f123bfcd2ee9acefcf6c6d12'
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + APIKEY+"&q="

In [72]:
params = { "city name":city_name,
         "country code": country_code}

response = requests.get(url+"Denver")
data=response.json()
print(json.dumps(data, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 1
    },
    "cod": 200,
    "coord": {
        "lat": 39.74,
        "lon": -104.98
    },
    "dt": 1579577700,
    "id": 5419384,
    "main": {
        "feels_like": 26.2,
        "humidity": 54,
        "pressure": 1026,
        "temp": 33.58,
        "temp_max": 37.99,
        "temp_min": 28.4
    },
    "name": "Denver",
    "sys": {
        "country": "US",
        "id": 3958,
        "sunrise": 1579529818,
        "sunset": 1579565059,
        "type": 1
    },
    "timezone": -25200,
    "visibility": 16093,
    "weather": [
        {
            "description": "clear sky",
            "icon": "01n",
            "id": 800,
            "main": "Clear"
        }
    ],
    "wind": {
        "deg": 216,
        "speed": 4.03
    }
}

In [80]:
print(data["name"])
print(data["main"]["humidity"])
print(data['coord']['lat'])
print(data["main"]["temp"])
print(data["clouds"]["all"])
print(data["wind"]["speed"])

Denver
54
39.74
33.58
1
4.03